ln-p11_5j/Simulation/7.3.1.16/Simulator/IOT280/DefaultConfig/XSD/spectracamsim_config.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="simulationglobalelements.xsd"/>
    <xs:element name="SpectraCamSimConfig">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="module_version">
                    <xs:complexType>
                        <xs:attribute name="major_revision" type="xs:int" fixed="1"/>
                        <xs:attribute name="minor_revision" type="xs:int" fixed="0"/>
                        <xs:attribute name="incr_revision" type="xs:int" fixed="0"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="UseCase">
                    <!-- 0: None;  1: Snapshot;  2: Video;  3: MFNR -->
                    <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                            <xs:enumeration value="0"/>
                            <xs:enumeration value="1"/>
                            <xs:enumeration value="2"/>
                            <xs:enumeration value="3"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="RunPipeline">
                    <!-- 0x01: IFE;  0x02:  BPS;   0x04:  PPS;   0x08:  NPS -->
                    <!-- i.e. IFE+PPS+NPS:  0x0D;  BPS+PPS+NPS:  0x0E; -->
                    <xs:simpleType>
                        <xs:restriction base="Hex8">
                            <xs:enumeration id="IFE" value="0x1"/>
                            <xs:enumeration id="BPS" value="0x2"/>
                            <xs:enumeration id="PPS" value="0x4"/>
                            <xs:enumeration id="NPS" value="0x8"/>
                            <xs:enumeration id="IPE" value="0xc"/>
                            <xs:enumeration id="BPSIPE" value="0xe"/>
                            <xs:enumeration id="Preproc" value="0xf"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="IOTPipeline">
                    <!-- 1: sHDR2;  2:  sHDR3;  -->
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration id="sHDR2" value="1"/>
                            <xs:enumeration id="sHDR3" value="2"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="InputSetting">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ImageFormat">
                                <xs:simpleType>
                                    <xs:restriction base="xs:unsignedByte">
                                        <xs:enumeration value="0"/>
                                        <xs:enumeration value="1"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="ImageFile" type="xs:string" />
                            <xs:element name="InputFolder" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="RegisterDump">
                    <!-- 0: disable dump;  1: enable dump -->
                    <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                            <xs:enumeration value="0"/>
                            <xs:enumeration value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="ISPConfig" type="xs:string" />
                <xs:element name="MetaConfig" type="xs:string" />
                <xs:element name="StreamConfig" type="xs:string" />
                <xs:element name="DataStoreFile" type="xs:string" minOccurs="0"/>
                <xs:element name="STATSSchemaFile" type="xs:string" />
                <xs:element name="PreprocSchemaFile" type="xs:string" />
                <xs:element name="IPEPreprocSchemaFile" type="xs:string" />
                <xs:element name="IFESchemaFile" type="xs:string" />
                <xs:element name="BPSSchemaFile" type="xs:string" />
                <xs:element name="IPESchemaFile" type="xs:string" />
                <xs:element name="SWCONTROLSchemaFile" type="xs:string" />
                <xs:element name="STATSDataFile" type="xs:string" />
                <xs:element name="PreprocDataFile" type="xs:string" />
                <xs:element name="IPEPreprocDataFile" type="xs:string" />
                <xs:element name="IFEDataFile" type="xs:string" />
                <xs:element name="BPSDataFile" type="xs:string" />
                <xs:element name="IPEDataFile" type="xs:string" />
                <xs:element name="SWCONTROLDataFile" type="xs:string" />
                <xs:element name="OutputSetting">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ImageFormat">
                                <xs:simpleType>
                                    <!-- 1: BMP;  2: YUV;  3: BMP+YUV -->
                                    <xs:restriction base="xs:unsignedByte">
                                        <xs:enumeration value="1"/>
                                        <xs:enumeration value="2"/>
                                        <xs:enumeration value="3"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="OutputFolder" type="xs:string" />
                            <xs:element name="OutputFileName" type="xs:string" />
                            <xs:element name="OutputPrefix" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="IntermediateSetting">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Enable" type="Hex8" />
                            <xs:element name="ImageFormat" type="xs:unsignedByte" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="CustomTriggerModule" type="xs:unsignedByte" minOccurs="0" default="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>