ln-p11_5j/Simulation/7.3.1.16/Simulator/Spectra480/DefaultConfig/XSD/isp_config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="simulationglobalelements.xsd"/>
    <xs:element name="ISPConfig">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="module_version">
                    <xs:complexType>
                        <xs:attribute name="major_revision" type="xs:int" fixed="1"/>
                        <xs:attribute name="minor_revision" type="xs:int" fixed="0"/>
                        <xs:attribute name="incr_revision" type="xs:int" fixed="0"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Common">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="hnrpostprocessenable" type="xs:unsignedByte" />
                            <xs:element name="TopCfg">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="StartFrameIdx" type="xs:unsignedByte" />
                                        <xs:element name="TotalFrameNumber" type="xs:unsignedByte" />
                                        <xs:element name="DigitalZoomEnable" type="xs:unsignedByte" />
                                        <xs:element name="DZStartX" type="xs:unsignedByte" />
                                        <xs:element name="DZStartY" type="xs:unsignedByte" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Tintless">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="MajorVersion" type="xs:unsignedByte" />
                                        <xs:element name="MinorVersion" type="xs:unsignedByte" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="InputCropConfig">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Enable" type="xs:unsignedByte" />
                                        <xs:element name="InputCropOpt" type="xs:unsignedByte" />
                                        <xs:element name="FirstPixel" type="xs:unsignedShort" />
                                        <xs:element name="LastPixel" type="xs:unsignedShort" />
                                        <xs:element name="FirstLine" type="xs:unsignedShort" />
                                        <xs:element name="LastLine" type="xs:unsignedShort" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ifeStatsOnlyModeEnable" type="xs:unsignedByte" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="CVP">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Dump_Enable" type="xs:unsignedByte" />
                        </xs:sequence>               
                    </xs:complexType>
                </xs:element>
                <xs:element name="Total_DZ" type="xs:float" />
                <xs:element name="IFE">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="IFEPreCropFullPath">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element name="CropEnable" type="xs:unsignedByte" />
                                        <xs:element name="FirstPixel" type="xs:unsignedShort" />
                                        <xs:element name="LastPixel" type="xs:unsignedShort" />
                                        <xs:element name="FirstLine" type="xs:unsignedShort" />
                                        <xs:element name="LastLine" type="xs:unsignedShort" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="IFEMNDownScalerFullPath">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element name="lumaImgSizeChange" type="xs:unsignedByte" />
                                        <xs:element name="OutLumaWidth" type="xs:unsignedShort" />
                                        <xs:element name="OutLumaHeight" type="xs:unsignedShort" />
                                        <xs:element name="v_cnt_init" type="xs:unsignedByte" />
                                        <xs:element name="h_cnt_init" type="xs:unsignedByte" />
                                        <xs:element name="rounding_option_h" type="xs:unsignedByte" />
                                        <xs:element name="rounding_option_v" type="xs:unsignedByte" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="IFEMNDownScalerFDPath">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="lumaImgSizeChange" type="xs:unsignedByte" />
                                        <xs:element name="OutLumaWidth" type="xs:unsignedShort" />
                                        <xs:element name="OutLumaHeight" type="xs:unsignedShort" />
                                        <xs:element name="EnableChromaHorizSample" type="xs:unsignedByte" />
                                        <xs:element name="EnableChromaVertiSample" type="xs:unsignedByte" />
                                        <xs:element name="v_cnt_init" type="xs:unsignedByte" />
                                        <xs:element name="h_cnt_init" type="xs:unsignedByte" />
                                        <xs:element name="rounding_option_h" type="xs:unsignedByte" />
                                        <xs:element name="rounding_option_v" type="xs:unsignedByte" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="IFECropFDPath">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="CropEnable" type="xs:unsignedByte" />
                                        <xs:element name="FirstPixel" type="xs:unsignedByte" />
                                        <xs:element name="LastPixel" type="xs:unsignedShort" />
                                        <xs:element name="FirstLine" type="xs:unsignedByte" />
                                        <xs:element name="LastLine" type="xs:unsignedShort" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="IFERnDClampFDPath">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="RnDClampEn" type="xs:unsignedByte" />
                                        <xs:element name="nBitsOut" type="xs:unsignedByte" />
                                        <xs:element name="roundingPatternY" type="xs:unsignedByte" />
                                        <xs:element name="interleavedY" type="xs:unsignedByte" />
                                        <xs:element name="roundingPatternC" type="xs:unsignedByte" />
                                        <xs:element name="interleavedC" type="xs:unsignedByte" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="BPS" type="xs:string" />
                <xs:element name="IPE">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="NPSCfg" type="xs:string" />
                            <xs:element name="IPEUpscalerCfg">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Enable" type="xs:unsignedByte" />
                                        <xs:element name="OutputWidth" type="xs:unsignedShort" />
                                        <xs:element name="OutputHeight" type="xs:unsignedShort" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="IPEMNDownScalerVideoPath">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="lumaImgSizeChange" type="xs:unsignedByte" />
                                        <xs:element name="OutLumaWidth" type="xs:unsignedShort" />
                                        <xs:element name="OutLumaHeight" type="xs:unsignedShort" />
                                        <xs:element name="v_cnt_init" type="xs:unsignedByte" />
                                        <xs:element name="h_cnt_init" type="xs:unsignedByte" />
                                        <xs:element name="rounding_option_h" type="xs:unsignedByte" />
                                        <xs:element name="rounding_option_v" type="xs:unsignedByte" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="IPECropVideo2Path">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="CropEnable" type="xs:unsignedByte" />
                                        <xs:element name="FirstPixel" type="xs:unsignedByte" />
                                        <xs:element name="LastPixel" type="xs:unsignedShort" />
                                        <xs:element name="FirstLine" type="xs:unsignedByte" />
                                        <xs:element name="LastLine" type="xs:unsignedShort" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="IPEMNDownScalerDisplayPath">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="lumaImgSizeChange" type="xs:unsignedByte" />
                                        <xs:element name="OutLumaWidth" type="xs:unsignedShort" />
                                        <xs:element name="OutLumaHeight" type="xs:unsignedShort" />
                                        <xs:element name="v_cnt_init" type="xs:unsignedByte" />
                                        <xs:element name="h_cnt_init" type="xs:unsignedByte" />
                                        <xs:element name="rounding_option_h" type="xs:unsignedByte" />
                                        <xs:element name="rounding_option_v" type="xs:unsignedByte" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="IPECropDisplay2Path">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="CropEnable" type="xs:unsignedByte" />
                                        <xs:element name="FirstPixel" type="xs:unsignedByte" />
                                        <xs:element name="LastPixel" type="xs:unsignedShort" />
                                        <xs:element name="FirstLine" type="xs:unsignedByte" />
                                        <xs:element name="LastLine" type="xs:unsignedShort" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="IPERnDClampVideoPath">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element name="RnDClampEn" type="xs:unsignedByte" />
                                        <xs:element name="nBitsOut" type="xs:unsignedByte" />
                                        <xs:element name="roundingPatternY" type="xs:unsignedByte" />
                                        <xs:element name="interleavedY" type="xs:unsignedByte" />
                                        <xs:element name="roundingPatternC" type="xs:unsignedByte" />
                                        <xs:element name="interleavedC" type="xs:unsignedByte" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="LRME">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ModuleEnable">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Lrme" type="xs:unsignedByte" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="RANSAC_method" type="xs:unsignedByte" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="PDPC_CFGV1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="PD_OFFSET">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Horizontal" type="xs:unsignedByte" />
                                        <xs:element name="Vertical" type="xs:unsignedByte" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="PIX_COUNT" type="xs:unsignedByte" />
                            <xs:element name="BLOCK_DIM">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Width" type="xs:unsignedShort" />
                                        <xs:element name="Height" type="xs:unsignedShort" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="PIX_COORDS">
                                <xs:simpleType>
                                    <xs:restriction base="intvar">
                                        <xs:maxLength value="128"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="MFNR">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="AnchorPick">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="enable" type="xs:unsignedByte" />
                                        <xs:element name="desiredAnchorIndex" type="xs:unsignedByte" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Registration">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Scale_X" type="xs:unsignedByte" />
                                        <xs:element name="Scale_Y" type="xs:unsignedByte" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="UseModifiedGain" type="xs:unsignedByte" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="StatsAdditionalCfg">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="hdr_be_field_sel" type="xs:unsignedByte" />
                            <xs:element name="hdr_bhist_field_sel" type="xs:unsignedByte" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="StatsFromConfig">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="HDR_Bhist">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="enable" type="xs:unsignedByte" />
                                        <xs:element name="hdr_bhist_chan_sel" type="xs:unsignedByte" />
                                        <xs:element name="hdr_bhist_roi_h_offset" type="xs:unsignedByte" />
                                        <xs:element name="hdr_bhist_roi_v_offset" type="xs:unsignedByte" />
                                        <xs:element name="hdr_bhist_rgn_h_num" type="xs:unsignedShort" />
                                        <xs:element name="hdr_bhist_rgn_v_num" type="xs:unsignedShort" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="HDR_BayerExposure">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element name="enable" type="xs:unsignedByte" />
                                        <xs:element name="hdr_stats_site_sel">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:unsignedByte">
                                                        <xs:attribute name="description" type="xs:string" default="na"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="hdr_be_site_sel" type="xs:unsignedByte" />
                                        <xs:element name="hdr_be_field_sel">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:unsignedByte">
                                                        <xs:attribute name="description" type="xs:string" default="na" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="hdr_bhist_field_sel">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:unsignedByte">
                                                        <xs:attribute name="description" type="xs:string" default="na" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="be_roi_h_offset" type="xs:unsignedByte" />
                                        <xs:element name="be_roi_v_offset" type="xs:unsignedByte" />
                                        <xs:element name="be_rgn_width" type="xs:unsignedByte" />
                                        <xs:element name="be_rgn_height" type="xs:unsignedByte" />
                                        <xs:element name="be_rgn_h_num" type="xs:unsignedByte" />
                                        <xs:element name="be_rgn_v_num" type="xs:unsignedByte" />
                                        <xs:element name="be_sat_Hthr_r" type="xs:unsignedShort" />
                                        <xs:element name="be_sat_Hthr_gr" type="xs:unsignedShort" />
                                        <xs:element name="be_sat_Hthr_gb" type="xs:unsignedShort" />
                                        <xs:element name="be_sat_Hthr_b" type="xs:unsignedShort" />
                                        <xs:element name="be_sat_Lthr_r" type="xs:unsignedByte" />
                                        <xs:element name="be_sat_Lthr_gr" type="xs:unsignedByte" />
                                        <xs:element name="be_sat_Lthr_gb" type="xs:unsignedByte" />
                                        <xs:element name="be_sat_Lthr_b" type="xs:unsignedByte" />
                                        <xs:element name="be_pix_exp_sel" type="xs:unsignedByte" />
                                        <xs:element name="be_HDR_selection" type="xs:unsignedByte" />
                                        <xs:element name="be_zHDR_first_rb_exp" type="xs:unsignedByte" />
                                        <xs:element name="be_sat_output_enable" type="xs:unsignedByte" />
                                        <xs:element name="be_first_hor_rgn_width" type="xs:unsignedByte" />
                                        <xs:element name="be_last_hor_rgn_width" type="xs:unsignedByte" />
                                        <xs:element name="be_shift_bits" type="xs:unsignedByte" />
                                        <xs:element name="be_region_sampling" type="xs:unsignedShort" />
                                        <xs:element name="be_Y_output_enable" type="xs:unsignedByte" />
                                        <xs:element name="be_Y_coeffs">
                                            <xs:simpleType>
                                                <xs:restriction base="intvar">
                                                    <xs:length value="3"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="be_g_sel" type="xs:unsignedByte" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Tintless_BG">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="enable" type="xs:unsignedByte" />
                                        <xs:element name="bgrid_aec_roi_h_offset" type="xs:unsignedByte" />
                                        <xs:element name="bgrid_aec_roi_v_offset" type="xs:unsignedByte" />
                                        <xs:element name="bgrid_aec_rgn_width" type="xs:unsignedByte" />
                                        <xs:element name="bgrid_aec_rgn_height" type="xs:unsignedByte" />
                                        <xs:element name="bgrid_aec_rgn_h_num" type="xs:unsignedByte" />
                                        <xs:element name="bgrid_aec_rgn_v_num" type="xs:unsignedByte" />
                                        <xs:element name="bgrid_aec_sat_Hthr_r" type="xs:unsignedShort" />
                                        <xs:element name="bgrid_aec_sat_Hthr_gr" type="xs:unsignedShort" />
                                        <xs:element name="bgrid_aec_sat_Hthr_gb" type="xs:unsignedShort" />
                                        <xs:element name="bgrid_aec_sat_Hthr_b" type="xs:unsignedShort" />
                                        <xs:element name="bgrid_aec_sat_Lthr_r" type="xs:unsignedByte" />
                                        <xs:element name="bgrid_aec_sat_Lthr_gr" type="xs:unsignedByte" />
                                        <xs:element name="bgrid_aec_sat_Lthr_gb" type="xs:unsignedByte" />
                                        <xs:element name="bgrid_aec_sat_Lthr_b" type="xs:unsignedByte" />
                                        <xs:element name="bgrid_aec_en_quad_sync">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:unsignedByte">
                                                        <xs:attribute name="description" type="xs:string" default="should be 0 for BG_TINTLESS" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="bgrid_aec_sat_output_enable" type="xs:unsignedByte" />
                                        <xs:element name="bgrid_aec_first_hor_rgn_width" type="xs:unsignedByte" />
                                        <xs:element name="bgrid_aec_last_hor_rgn_width" type="xs:unsignedByte" />
                                        <xs:element name="bgrid_aec_shift_bits" type="xs:unsignedByte" />
                                        <xs:element name="bgrid_aec_region_sampling" type="xs:unsignedShort" />
                                        <xs:element name="bgrid_aec_Y_output_enable" type="xs:unsignedByte" />
                                        <xs:element name="bgrid_aec_Y_coeffs">
                                            <xs:simpleType>
                                                <xs:restriction base="intvar">
                                                    <xs:length value="3"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="bgrid_aec_g_sel" type="xs:unsignedByte" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="AWB_BG">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="enable" type="xs:unsignedByte" />
                                        <xs:element name="bgrid_awb_roi_h_offset" type="xs:unsignedByte" />
                                        <xs:element name="bgrid_awb_roi_v_offset" type="xs:unsignedByte" />
                                        <xs:element name="bgrid_awb_rgn_width" type="xs:unsignedByte" />
                                        <xs:element name="bgrid_awb_rgn_height" type="xs:unsignedByte" />
                                        <xs:element name="bgrid_awb_rgn_h_num" type="xs:unsignedByte" />
                                        <xs:element name="bgrid_awb_rgn_v_num" type="xs:unsignedByte" />
                                        <xs:element name="bgrid_awb_sat_Hthr_r" type="xs:unsignedShort" />
                                        <xs:element name="bgrid_awb_sat_Hthr_gr" type="xs:unsignedShort" />
                                        <xs:element name="bgrid_awb_sat_Hthr_gb" type="xs:unsignedShort" />
                                        <xs:element name="bgrid_awb_sat_Hthr_b" type="xs:unsignedShort" />
                                        <xs:element name="bgrid_awb_sat_Lthr_r" type="xs:unsignedByte" />
                                        <xs:element name="bgrid_awb_sat_Lthr_gr" type="xs:unsignedByte" />
                                        <xs:element name="bgrid_awb_sat_Lthr_gb" type="xs:unsignedByte" />
                                        <xs:element name="bgrid_awb_sat_Lthr_b" type="xs:unsignedByte" />
                                        <xs:element name="bgrid_awb_en_quad_sync">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:unsignedByte">
                                                        <xs:attribute name="description" type="xs:string" default="should be 0 for BG_TINTLESS" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="bgrid_awb_sat_output_enable" type="xs:unsignedByte" />
                                        <xs:element name="bgrid_awb_first_hor_rgn_width" type="xs:unsignedByte" />
                                        <xs:element name="bgrid_awb_last_hor_rgn_width" type="xs:unsignedByte" />
                                        <xs:element name="bgrid_awb_shift_bits" type="xs:unsignedByte" />
                                        <xs:element name="bgrid_awb_region_sampling" type="xs:unsignedShort" />
                                        <xs:element name="bgrid_awb_Y_output_enable" type="xs:unsignedByte" />
                                        <xs:element name="bgrid_awb_Y_coeffs">
                                            <xs:simpleType>
                                                <xs:restriction base="intvar">
                                                    <xs:length value="3"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="bgrid_awb_g_sel" type="xs:unsignedByte" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="BF">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="enable" type="xs:unsignedByte" />
                                        <xs:element name="baf_gamma_lut_sel" type="xs:unsignedByte" />
                                        <xs:element name="baf_roiindex_lut_sel" type="xs:unsignedByte" />
                                        <xs:element name="baf_site_sel" type="xs:unsignedByte" />
                                        <xs:element name="baf_g_sel" type="xs:unsignedByte" />
                                        <xs:element name="baf_LUT_enable" type="xs:unsignedByte" />
                                        <xs:element name="baf_ch_sel" type="xs:unsignedByte" />
                                        <xs:element name="baf_h1_scaler_sel">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:unsignedByte">
                                                        <xs:attribute name="description" type="xs:string" default="na" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="baf_h2_scaler_sel">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:unsignedByte">
                                                        <xs:attribute name="description" type="xs:string" default="na" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="baf_mn_input_width" type="xs:unsignedByte" />
                                        <xs:element name="baf_mn_input_height" type="xs:unsignedByte" />
                                        <xs:element name="baf_h_scaler_en" type="xs:unsignedByte" />
                                        <xs:element name="baf_h_in" type="xs:unsignedByte" />
                                        <xs:element name="baf_h_out" type="xs:unsignedByte" />
                                        <xs:element name="baf_h_phase_mult" type="xs:unsignedByte" />
                                        <xs:element name="baf_h_interp_reso" type="xs:unsignedByte" />
                                        <xs:element name="baf_h_mn_init" type="xs:unsignedByte" />
                                        <xs:element name="baf_h_phase_init" type="xs:unsignedByte" />
                                        <xs:element name="baf_h_skip_cnt" type="xs:unsignedByte" />
                                        <xs:element name="baf_v_scaler_en" type="xs:unsignedByte" />
                                        <xs:element name="baf_v_in" type="xs:unsignedByte" />
                                        <xs:element name="baf_v_out" type="xs:unsignedByte" />
                                        <xs:element name="baf_v_phase_mult" type="xs:unsignedByte" />
                                        <xs:element name="baf_v_interp_reso" type="xs:unsignedByte" />
                                        <xs:element name="baf_v_mn_init" type="xs:unsignedByte" />
                                        <xs:element name="baf_v_phase_init" type="xs:unsignedByte" />
                                        <xs:element name="baf_v_skip_cnt" type="xs:unsignedByte" />
                                        <xs:element name="baf_gammaLUT">
                                            <xs:simpleType>
                                                <xs:restriction base="intvar">
                                                    <xs:maxLength value="32"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="baf_roi_indexLUT">
                                            <xs:simpleType>
                                                <xs:restriction base="intvar">
                                                    <xs:maxLength value="182"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="baf_Y_coeffs">
                                            <xs:simpleType>
                                                <xs:restriction base="intvar">
                                                    <xs:maxLength value="3"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="baf_fir_h1_en" type="xs:unsignedByte" />
                                        <xs:element name="baf_fir_h2_en">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:unsignedByte">
                                                        <xs:attribute name="description" type="xs:string" default="na" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="baf_iir_h1_en" type="xs:unsignedByte" />
                                        <xs:element name="baf_iir_h2_en">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:unsignedByte">
                                                        <xs:attribute name="description" type="xs:string" default="na" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="baf_fir_h">
                                            <xs:simpleType>
                                                <xs:restriction base="intvar">
                                                    <xs:maxLength value="13"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="baf_h1_shift_bits" type="xs:byte" />
                                        <xs:element name="baf_h2_shift_bits">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:unsignedByte">
                                                        <xs:attribute name="description" type="xs:string" default="na" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="baf_iir_h">
                                            <xs:simpleType>
                                                <xs:restriction base="intvar">
                                                    <xs:length value="10"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="baf_coring_h1_indx">
                                            <xs:simpleType>
                                                <xs:restriction base="intvar">
                                                    <xs:length value="17"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="baf_coring_h2_indx">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="intvar">
                                                        <xs:attribute name="description" type="xs:string" default="na" />
                                                        <xs:attribute name="length" type="xs:string" default="17"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="baf_coring_h1_Th" type="xs:unsignedByte" />
                                        <xs:element name="baf_coring_h2_Th">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:unsignedByte">
                                                        <xs:attribute name="description" type="xs:string" default="na" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="baf_coring_h1_gain" type="xs:unsignedByte" />
                                        <xs:element name="baf_coring_h2_gain">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:unsignedByte">
                                                        <xs:attribute name="description" type="xs:string" default="na" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="baf_fir_v_en">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:unsignedByte">
                                                        <xs:attribute name="description" type="xs:string" default="na" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="baf_iir_v_en" type="xs:unsignedByte" />
                                        <xs:element name="baf_fir_v">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="intvar">
                                                        <xs:attribute name="description" type="xs:string" default="na" />
                                                        <xs:attribute name="length" type="xs:string" default="5"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="baf_v_shift_bits" type="xs:byte" />
                                        <xs:element name="baf_iir_v">
                                            <xs:simpleType>
                                                <xs:restriction base="intvar">
                                                    <xs:length value="10"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="baf_coring_v_indx">
                                            <xs:simpleType>
                                                <xs:restriction base="intvar">
                                                    <xs:length value="17"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="baf_coring_v_Th" type="xs:unsignedShort" />
                                        <xs:element name="baf_coring_v_gain" type="xs:unsignedByte" />
                                        <xs:element name="baf_h1_sum_shift_bits" type="xs:unsignedByte" />
                                        <xs:element name="baf_v_sum_shift_bits" type="xs:unsignedByte" />
                                        <xs:element name="baf_ROIs_Ymin" type="xs:unsignedByte" />
                                        <xs:element name="baf_ROIs_Xmin" type="xs:unsignedByte" />
                                        <xs:element name="baf_ROIs_Ymax" type="xs:unsignedShort" />
                                        <xs:element name="baf_ROIs_Xmax" type="xs:unsignedShort" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="BHist">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="enable" type="xs:unsignedByte" />
                                        <xs:element name="bihist_roi_h_offset" type="xs:unsignedByte" />
                                        <xs:element name="bihist_roi_v_offset" type="xs:unsignedByte" />
                                        <xs:element name="bihist_rgn_h_num" type="xs:unsignedByte" />
                                        <xs:element name="bihist_rgn_v_num" type="xs:unsignedByte" />
                                        <xs:element name="bihist_ch_sel" type="xs:unsignedByte" />
                                        <xs:element name="bihist_bin_uniformity" type="xs:unsignedByte" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="RowSumColSum">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="rs_enable" type="xs:unsignedByte" />
                                        <xs:element name="cs_enable" type="xs:unsignedByte" />
                                        <xs:element name="rs_rgn_h_offset" type="xs:unsignedByte" />
                                        <xs:element name="rs_rgn_v_offset" type="xs:unsignedByte" />
                                        <xs:element name="rs_rgn_width" type="xs:unsignedShort" />
                                        <xs:element name="rs_rgn_height" type="xs:unsignedByte" />
                                        <xs:element name="rs_rgn_h_num" type="xs:unsignedByte" />
                                        <xs:element name="rs_rgn_v_num" type="xs:unsignedShort" />
                                        <xs:element name="rs_shift_bits" type="xs:unsignedByte" />
                                        <xs:element name="cs_rgn_h_offset" type="xs:unsignedShort" />
                                        <xs:element name="cs_rgn_v_offset" type="xs:unsignedByte" />
                                        <xs:element name="cs_rgn_width" type="xs:unsignedByte" />
                                        <xs:element name="cs_rgn_height" type="xs:unsignedShort" />
                                        <xs:element name="cs_rgn_h_num" type="xs:unsignedShort" />
                                        <xs:element name="cs_rgn_v_num" type="xs:unsignedByte" />
                                        <xs:element name="cs_shift_bits" type="xs:unsignedByte" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="IHist">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="enable" type="xs:unsignedByte" />
                                        <xs:element name="histogram_site" type="xs:unsignedByte" />
                                        <xs:element name="channel_select" type="xs:unsignedByte" />
                                        <xs:element name="hist_rgn_h_offset" type="xs:unsignedByte" />
                                        <xs:element name="hist_rgn_v_offset" type="xs:unsignedByte" />
                                        <xs:element name="hist_rgn_h_num" type="xs:unsignedByte" />
                                        <xs:element name="hist_rgn_v_num" type="xs:unsignedByte" />
                                        <xs:element name="hist_shift_bits" type="xs:unsignedByte" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>